<template>
	<section class="contactBanner">
		<p class="contactBanner__tollFree">Toll Free: 877-UNIX-123 (877-864-9123)</p>
		<p class="contactBanner__email">
			<a class="contactBanner__email__mailto" href="mailto:rfq@unixsurplus.com">rfq@unixsurplus.com</a> for
			Quotes or Purchase Orders
		</p>
	</section>
</template>

<style scoped lang="scss">
 $accent-color: #222f3e;

 @media screen and (min-width: 481px) {
	 .contactBanner {
		 margin: 0 auto;
	 }
 }

 @media screen and (max-width: 480px) {
	 .contactBanner {
		 margin: 24px auto 0 auto;
	 }
 }

 .contactBanner {
	 font-size: 1.2rem;

	 width: 100%;
	 text-align: center;

	 &__tollFree {
		 margin: 0;
	 }

	 &__email {
		 &__mailto {
			 text-decoration: none;
			 color: #0d6efd;

			 &:hover {
				 background-color: lighten($accent-color, 75%);
			 }
		 }
	 }
 }
</style>
