<template>
	<p class="summary" v-if="user">{{ summary }}</p>
	<p class="export" v-if="user">
		<a class="export__link" :href="exportUrl" target="_blank">Export CSV</a>
	</p>
	<section class="items">
		<article class="items__item" v-for="item in items">
			<header class="items__header">
				<h2 class="items__title">{{ item.par }}</h2>
				<small class="items__subtitle" v-if="item.bar.length > 0">OEM PN: {{ item.bar }}</small>
			</header>
			<section class="items__status">
				<p class="items__catcon">
					<span class="items__cat">{{ item.cat }}</span> -
					<span class="items__con">{{ item.con }}</span>
				</p>
				<p class="items__value" v-if="user">
					<strong class="items__pri">${{ item.pri }}</strong>,
					<span class="items__qty"><strong>{{ item.qty }}</strong> available</span>,
					<span class="items__total"><strong>${{ item.total }}</strong> total</span>
				</p>
                <p class="items__login" v-else>
                    <Link href="/login" class="items__login-link">Login</Link> to view price
                </p>
			</section>
			<section class="items__body">
				<p class="items__des">{{ item.des }}</p>
			</section>
			<footer class="items__footer">
				<p class="items__bin">Bin: {{ item.bin }}</p>
			</footer>
		</article>
	</section>
</template>

<style lang="scss">
 $accent-color: #222f3e;

 .summary, .export {
	 width: 90vw;
 }

 .summary {
	 margin: 24px auto 0 auto;
	 font-size: 1.2rem;
 }

 .export {
	 margin: 8px auto 0 auto;

	 &__link {
		 border: 1px solid #ccc;
		 border-radius: 1.2rem;
		 background: none;
		 color: #2A4954;
		 font-weight: 700;
		 padding: 4px 8px;
		 text-decoration: none;

		 &:hover {
			 background-color: #0000000a;
			 border-radius: 0.9rem;
		 }
	 }
 }

 .items {
	 width: 100%;
	 margin: 24px 0 0 0;

	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 align-items: center;
	 align-content: space-between;

     &__value {
		 font-size: 1.1rem;
     }

	 &__item {
		 width: 90vw;
		 border: 1px solid #ccc;
		 border-radius: 8px;
		 margin-bottom: 8px;
		 overflow: hidden;
     }

     &__login-link {
         color: $accent-color;
         font-weight: 600;
     }

	 &__header, &__status, &__body, &__footer {
		 padding: 4px 8px;
	 }

	 &__header {
		 background-color: $accent-color;
     }

	 &__title {
		 font-size: 1.2rem;
		 padding: 0;
		 margin: 0;
		 color: #eee;
	 }

	 &__subtitle {
		 color: #ccc;
	 }

	 &__value, &__catcon {
		 font-size: 1.1rem;
	 }

	 &__catcon {
		 margin-bottom: 0;
		 padding-bottom: 0;
	 }

	 &__body {
		 &, .items__des {
			 margin-top: 0;
			 margin-bottom: 0;
			 padding-top: 0;
			 padding-bottom: 0;
		 }
	 }

	 &__footer {
		 margin-top: 4px;
     }

	 &__bin {
		 margin: 0;
		 padding: 0;
	 }
 }
</style>

<script setup>
 import { computed } from 'vue';
 import { Link, usePage } from '@inertiajs/vue3';

 const user = computed(() => usePage().props.auth.user)

 defineProps({
	 items: Array,
	 summary: String
 });
</script>
