<template>
	<div class="notification" :class="{ 'notification--shown': shown}">
		<p class="notification__message">{{ message }}</p>
	</div>
</template>

<style scoped lang="scss">
 .notification {
	 position: fixed;
	 top: -100px;
	 left: 0;
	 right: 0;
	 margin: 0 auto;
	 background-color: #fff;
	 box-shadow: 1px 1px 8px 2px #0000001c;
	 border-radius: 3rem;
	 border: 1px solid #eee;
	 width: fit-content;
	 max-width: 360px;
	 height: fit-content;
	 min-height: 36px;
	 padding: 8px 12px;

	 font-weight: 700;
	 font-size: 1rem;

	 &--shown {
		 animation: slideInOut 4s linear 0s forwards;
	 }

	 &__message {
		 padding: 0;
		 margin: 0;
	 }
 }

 @keyframes slideInOut {
	 0%, 100% {
		 top: -100px;
	 }
	 
	 5%, 95% {
		 top: 18px;
	 }
 }
</style>

<script setup>
 defineProps({
	 message: String,
	 shown: Boolean
 });
</script>
