<template>
    <section class="search">
        <article class="search__container">
            <input class="search__input" type="search" placeholder="Search Part Number" :value="searchTerm"
                ref="searchBar" @input="handleSearchInput" @keyup.enter="handleSearchClicked" autofocus>
            <button type="button" class="search__button" @click="handleSearchClicked">
                <FontAwesomeIcon icon="search" size="lg" />
            </button>
        </article>
        <article class="search__filters">
            <fieldset class="search__categories">
                <legend class="search__legend">Filters</legend>
                <details class="search__subcategory-details" :key="key" v-for="(category, key) in filters">
                    <summary class="search__category">{{ key }}</summary>
                    <div class="search__subcategory" v-for="(subcategory, index) in filters[key]" :key="index"
                        :class="{ 'search__subcategory--selected': filtersSelected.includes(subcategory.fullName) }"
                        @click="handleFilterClicked(subcategory.fullName, key)">
                        <FontAwesomeIcon icon="plus" class="search__subcategory-plusIcon"
                            v-if="!filtersSelected.includes(subcategory.fullName)" />
                        <FontAwesomeIcon icon="times" class="search__subcategory-timesIcon"
                            v-if="filtersSelected.includes(subcategory.fullName)" />
                        <input type=" checkbox" :id="key + '' + index" class="search__subcategory-input"
                            :value="subcategory.fullName" @click="handleFilterClicked(subcategory.fullName, key)">
                        <label class="search__subcategory-label" :for="key + '' + index">
                            {{ subcategory.name }}
                        </label>
                    </div>
                </details>
            </fieldset>
        </article>
    </section>
</template>

<script setup>
import { ref } from 'vue';

const searchBar = ref(null);

defineProps({
    searchTerm: String,
    filters: Object,
    filtersSelected: Array
});

const emit = defineEmits([
    'searchClicked',
    'filterClicked',
    'update:searchTerm'
]);

function handleFilterClicked(subcategory, category) {
    emit('filterClicked', subcategory, category);
}

function handleSearchClicked() {
    searchBar.value.select();
    emit('searchClicked');
}

function handleSearchInput(event) {
    emit('update:searchTerm', event.target.value);
}
</script>

<style scoped lang="scss">
$filter-border: #999;
$filter-color-selected: #d1e0ee;

@media screen and (min-width: 481px) {
    .search {
        width: 80vw;

        &__container {
            width: 80%;
        }

        &__filters {
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__categories {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .search {
        width: 90vw;

        &__container {
            width: 100%;
        }

        &__filters {
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.search {
    margin: 16px auto auto auto;

    &__input {
        border: none;
        background: none;
        flex-grow: 2;
        font-size: 1.2rem;

        &:focus {
            outline: none;
            border: none;
        }
    }

    &__button {
        border: none;
        background: none;
        color: #555;
        width: 60px;
        cursor: pointer;
    }

    &__container {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 0 0 12px;

        margin: 0 auto;
        height: 48px;
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 2px;
        border-radius: 4px;
    }

    &__filters {
        margin-top: 24px;
        width: 100%;
    }

    &__categories {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        column-gap: 2vh;

        border: none;
    }

    &__legend {
        font-size: 1.8rem;
    }

    &__subcategory-details {
        min-width: 140px;
    }

    &__category {
        font-size: 1.2rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__subcategory {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        /* column-gap: 1vh; */

        border: $filter-border solid 1px;
        border-radius: 24px;
        margin: 2px 0;
        padding: 4px 8px;
        font-size: 1rem;

        &-timesIcon {
            margin: 0 2px;
        }
&:hover,
&-label:hover,
&-input:hover {
    cursor: pointer;
    background-color: #fae1e1;
}

        &-input {
            display: none;
        }

        &-label {
            margin-left: 4px;
            white-space: nowrap;
        }

        &--selected {
            border: $filter-color-selected solid 1px;
            background-color: $filter-color-selected;
        }
    }
}
</style>
