<template>
	<table class="table">
		<thead class="table__header">
			<tr class="table__header-interactive">
				<th class="table__header-interactive-cell" colspan="100%" v-if="user">
					<div class="table__header-interactive-container">
						<div class="table__summary">
							{{ summary }}
							<a class="table__export-csv" target="_blank" :href="exportUrl">Export CSV</a>
						</div>
                        <div class="table__header-actions">
					        <span class="table__select-all" 
                                  :class="{'table__select-all--active': allTableRowsSelected}">
						        <label class="table__select-all-label">
						            <input type="checkbox" class="table__select-all-checkbox" ref="selectAllCheckbox"
                                           @change="handleSelectAllClicked" :checked="allTableRowsSelected">
                                    <FontAwesomeIcon class="table__select-all-icon" icon="check-double" />
							        Select All
						        </label>
					        </span>
						    <button type="button" class="table__copy-button" @click="handleCopySelectedClicked">
							    <FontAwesomeIcon class="table__copy-button-icon" icon="copy"/>
							    Copy to Clipboard
						    </button>
                        </div>
					</div>
				</th>
			</tr>
			<tr class="table__header-row" :class="{'table__header-row-top': !user}">
				<th class="table__header-row-cell" v-if="user">
				</th>
				<th class="table__header-cell" data-column="par">Part Number</th>
				<th class="table__header-cell" data-column="bar">OEM PN</th>
				<th class="table__header-cell" data-column="des">Description</th>
				<th class="table__header-cell" data-column="con">CON</th>
				<th class="table__header-cell" data-column="cat">Category</th>
				<th data-column="pri"
                    class="table__header-cell table__header-cell--sortable"
                    :class="{'table__header-cell--restricted': !user}"
                    @click.stop="handleHeaderClicked('pri')">
                    <FontAwesomeIcon icon="sort-up" v-if="currentSorting === 'pri' && sortedAscending" />
                    <FontAwesomeIcon icon="sort-down" v-if="currentSorting === 'pri' && !sortedAscending" />
                    Price
                </th>
				<th class="table__header-cell" :class="{'table__header-cell--restricted': !user}" data-column="qty">
                    QTY
                </th>
				<th data-column="tot"
                    class="table__header-cell table__header-cell--sortable"
                    :class="{'table__header-cell--restricted': !user}"
                    @click.stop="handleHeaderClicked('total')">
                    <FontAwesomeIcon icon="sort-up" v-if="currentSorting === 'total' && sortedAscending" />
                    <FontAwesomeIcon icon="sort-down" v-if="currentSorting === 'total' && !sortedAscending" />
                    Total
                </th>
				<th class="table__header-cell" data-column="bin">Bin</th>
			</tr>
		</thead>
		<tbody class="table__body">
			<tr v-for="item in items" class="table__row" :key="item.par" @click.stop="handleRowClicked">
				<td class="table__cell" v-if="user">
					<button type="button" class="table__row-copy-button"
							@click.stop="handleCopyButtonClicked">
						<FontAwesomeIcon icon="copy" /> Copy
					</button>
				</td>
				<td class="table__cell" data-column="par">
					<span class="table__cell-container" @click.stop="handleCellTextClicked">
						{{ item.par }}
					</span>
				</td>
				<td class="table__cell" data-column="bar">
					<span class="table__cell-container" @click.stop="handleCellTextClicked">
						{{ item.bar }}
					</span>
				</td>
				<td class="table__cell" data-column="des">
					<span class="table__cell-container" @click.stop="handleCellTextClicked">
						{{ item.des }}
					</span>
				</td>
				<td class="table__cell" data-column="con">
					<span class="table__cell-container" @click.stop="handleCellTextClicked">
						{{ item.con }}
					</span>
				</td>
				<td class="table__cell" data-column="cat">
					<span class="table__cell-container" @click.stop="handleCellTextClicked">
						{{ item.cat }}
					</span>
				</td>
				<td class="table__cell" data-column="pri" v-if="user"
					@click.stop="handleCellTextClicked">
					<span class="table__cell-container">${{  item.pri }}</span>
				</td>
				<td class="table__cell" data-column="qty" v-if="user"
					@click.stop="handleCellTextClicked">
					<span class="table__cell-container">{{ item.qty }}</span>
				</td>
				<td class="table__cell" data-column="total" v-if="user"
					@click.stop="handleCellTextClicked">
					<span class="table__cell-container">${{ item.total }}</span>
				</td>
                <td class="table__cell" colspan="3" v-if="!user">
                    <span class="table__cell-container">
                        <Link href="/login" class="table__cell-link">Login to view</Link>
                    </span>
                </td>
				<td class="table__cell" data-column="bin">
					<span class="table__cell-container" @click.stop="handleCellTextClicked">
						{{ item.bin }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script setup>
 import { ref, computed } from 'vue';
 import { usePage, Link } from '@inertiajs/vue3';
 
 defineProps({
	 items: Array,
	 summary: String,
	 exportUrl: String,
	 allTableRowsSelected: Boolean,
     currentSorting: String,
     sortedAscending: Boolean
 });

 const emit = defineEmits([
	 'tableRowClicked',
	 'tableCopyFieldClicked',
	 'selectAllClicked',
	 'copySelectedClicked',
     'headerClicked'
 ]);

 const selectAllCheckbox = ref(null);

 const user = computed(() => usePage().props.auth.user);

 function handleHeaderClicked(headerName) {
     emit('headerClicked', headerName);
 }

 function handleRowClicked(event) {
     if (!user.value) return;

	 const row = event.target.closest('.table__row');
	 const selected = 'table__row--selected';

	 if (row.classList.contains(selected)) {
		 row.classList.remove(selected);
	 } else {
		 row.classList.add(selected);
	 }

	 emit('tableRowClicked', row.rowIndex - 1)
 }

 function handleCopyButtonClicked(event) {
     const button = event.target.closest('.table__row-copy-button');
	 const row = button.closest('.table__row');
	 const pri = row.querySelector('.table__cell[data-column="pri"]')
					.querySelector('.table__cell-container')
					.innerHTML;
	 const con = row.querySelector('.table__cell[data-column="con"]')
					.querySelector('.table__cell-container')
					.innerHTML;
	 const par = row.querySelector('.table__cell[data-column="par"]')
					.querySelector('.table__cell-container')
					.innerHTML;
	 const des = row.querySelector('.table__cell[data-column="des"]')
					.querySelector('.table__cell-container')
					.innerHTML;
	 const qty = row.querySelector('.table__cell[data-column="qty"]')
					.querySelector('.table__cell-container')
					.innerHTML;

	 const fieldText = `${pri}\t${con}\t${par}\t${des} - ${qty} qty`;

	 emit('tableCopyFieldClicked', fieldText);
 }

 function handleCellTextClicked(event) {
	 const text = event.target.closest('.table__cell-container').innerHTML;

	 emit('tableCopyFieldClicked', text);
 }

 function handleSelectAllClicked() {
     selectAllCheckbox.checked = !selectAllCheckbox.checked;
	 const selected = 'table__row--selected';
     
	 document.querySelectorAll('.table__row').forEach(row => {
		 if (selectAllCheckbox.checked) {
			 if (!row.classList.contains(selected)) row.classList.add(selected);
		 } else {
			 row.classList.remove(selected)
		 }
	 });

	 emit('selectAllClicked', selectAllCheckbox.checked);
 }

 function handleCopySelectedClicked() {
	 emit('copySelectedClicked');
 }
</script>

<style scoped lang="scss">
 $accent-color: #222f3e;
 $text-white: #eee;
 $button-color: #2A4954;
 
 @-moz-document url-prefix() {
	 .table {
		 overflow: hidden;
	 }
 }
 
 .table {
	 width: 80vw;
	 min-width: 640px;
	 margin: 8px auto 12px auto;
	 font-size: 1rem;
	 box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
	 margin-top: 36px;
	 border-radius: 12px 12px;
	 border-collapse: collapse;

	 &__header {
		 background-color: $accent-color;
		 color: $text-white;
		 position: sticky;
		 top: 80px;

         &-row-top {
		     border-top-left-radius: 12px;
			 border-top-right-radius: 12px;

             .table__header-cell:first-child {
                 border-top-left-radius: 12px;
             }

             .table__header-cell:last-child {
                 border-top-right-radius: 12px;
             }
         }

		 &-interactive {
		     border-top-left-radius: 12px;
			 border-top-right-radius: 12px;

		     &-cell {
			     border-top-left-radius: 12px;
			     border-top-right-radius: 12px;
			     border-bottom: none;
             }

             &-container {
			     display: flex;
			     flex-flow: row nowrap;
			     justify-content: space-between;
			     width: 100%;
			     padding: 8px 4px;
             }
		 }

		 &-cell {
             padding-top: 8px;
			 padding-bottom: 8px;

			 &:not([data-column=des]) {
				 text-align: center;
			 }

             &--restricted {
                 padding-left: 4px;
                 padding-right: 4px;
             }

             &--sortable {
                 cursor: pointer;
             }
		 }
	 }

	 &__export-csv {
		 border: 1px solid #eee;
		 text-decoration: none;
		 color: #eee;
		 padding: 4px 8px;
		 border-radius: 0.9rem;
		 margin-left: 16px;

		 &:hover {
			 background-color: #eeeeee1c;
			 cursor: pointer;
		 }
	 }

	 &__copy-button, &__select-all {
		 border: none;
		 border-radius: 0.9rem;
		 background: none;
		 padding: 4px 8px;
		 cursor: pointer;

		 color: #eee;
		 font-weight: 700;
		 font-size: 1rem;

		 &:hover {
			 background-color: #eeeeee0f;
		 }
	 }

	 &__select-all {
         &-checkbox {
             display: none;
         }

         &-label {
             cursor: pointer;
         }

         &-icon {
             cursor: pointer;
         }

         &--active {
             background-color: #eee;
             color: $accent-color;

             &:hover {
                 color: #eee;
             }
         }
	 }

	 &__row {
		 &-copy-button {
			 background-color: #00000000;
			 border: none;
			 color: #254A4A;
			 border-radius: 8px;
			 font-size: 1rem;
             cursor: pointer;

			 &:hover {
				 background-color: #0000000a;
			 }
		 }

		 &:nth-of-type(odd) {
			 background-color: #e0e7ee;
		 }

		 .table .table__body &--selected {
			 background-color: #2A4954;

			 & * {
				 color: #eee;
				 font-weight: 600;
			 }
		 }
	 }

	 &__cell {
		 padding: 8px;

		 &:not([data-column=des]) {
			 text-align: center;
		 }

		 &-container {
			 &:hover {
				 cursor: copy;
			 }
		 }

         &-link {
             color: $button-color;
             font-weight: 600;
             text-decoration: none;
         }
	 }
 }
</style>
