// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html, #app {
	width: 100%;
	height: 100%;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
