<template>
    <button :type="type" class="button">
        <slot />
    </button>
</template>

<style scoped lang="scss">
 $button-color: #2a4954;

 .button {
	 font-size: 1.1rem;
	 border-radius: 4px;
	 border: none;
	 background-color: $button-color;
	 color: #eee;
	 padding: 8px 8px;
	 
	 font-weight: 700;
	 cursor: pointer;
 }
</style>

<script setup>
 defineProps({
     type: {
         type: String,
         default: 'submit',
     },
 });
</script>
