<script setup>
 import { onMounted, ref } from 'vue';

 defineProps(['name', 'modelValue']);

 defineEmits(['update:modelValue']);

 const input = ref(null);

 onMounted(() => {
     if (input.value.hasAttribute('autofocus')) {
         input.value.focus();
     }
 });
</script>

<template>
	<div class="input-container">
		<label :for="name" class="input-label"><slot /></label>
		<input class="input-area" ref="input" v-bind="$attrs" :name="name"
			   @input="$emit('update:modelValue', $event.target.value)" />
	</div>
</template>

<style scoped lang="scss">
 $input-color: #2a335414;
 $input-color-focused: #2a33542c;

 .input-label {
	 font-size: 1.1rem;
	 font-weight: 600;
 }

 .input-container {
	 background-color: $input-color;
	 padding: 8px 16px;
	 border-radius: 12px;
	 color: #222f3e;

	 display: inline-flex;
	 flex-flow: column;

	 &:focus-within {
		 background-color: $input-color-focused;
	 }
 }

 .input-area {
	 border: none;
	 background: none;

	 height: 24px;
	 width: 300px;

	 font-size: 1rem;

	 &:focus {
		 outline: none;
	 }

	 .input-container &:focus {
	 }
 }
</style>
