<template>
	<footer class="footer">
		<p class="footer__copyright">Copyright &copy; {{ copyrightYear }} UNIXSurplus, Inc.</p>
	</footer>
</template>

<style scoped lang="scss">
 .footer {
	 margin-top: auto;
	 padding: 12px;

	 display: flex;
	 flex-flow: row nowrap;
	 justify-content: center;

	 &__copyright {
		 margin: 0;
		 padding: 0;

		 color: #777;
		 font-weight: 700;
	 }
 }
</style>

<script setup>
 defineProps({
     copyrightYear: String
 });
</script>
