<template>
	<header class="header">
		<div class="header__logo">
			<img class="header__logo-image" src="img/unixlogo.png">
		</div>

		<nav class="header__nav">
			<ul class="header__menu">
				<li class="header__menu-item">
					<a class="header__link" href="https://www.unixsurplus.com">unixsurplus.com</a></li>
				<li class="header__menu-item" :class="{'header__menu-item--active': route().current('index') 
                                              || !(route().current())}">
					<Link class="header__link" href="/">Inventory</Link>
				</li>
				<li class="header__menu-item header__menu-login"
                    :class="{'header__menu-item--active': route().current('login')}">
                    <details class="header__user-indicator" v-if="user">
                        <summary class="header__user-summary">
                            <img class="header__user-profile" v-if="user.oauth_image_url" alt="user profile"
                                 :src="user.oauth_image_url">
                            <div class="header__user-profile header__user-profile--text" v-else>
                                {{ user.first_name[0] }}{{ user.last_name ? user.last_name[0] : '' }}
                            </div>
                        </summary>
                        <ul class="header__user-menu">
                            <li class="header__user-menu-item">
                                <Link as="button" type="button" class="header__logout" href="/logout" method="post">
					                Logout
                                </Link>
                            </li>
                        </ul>
                    </details>
					<Link class="header__link" href="/login" v-else>
					Login
					</Link>
				</li>
			</ul>
		</nav>
	</header>
</template>

<script setup>
 import { computed } from 'vue';
 import { Link, usePage } from '@inertiajs/vue3';

 const user = computed(() => usePage().props.auth.user);
</script>

<style scoped lang="scss">
 $accent-color: #222f3e;
 $header-background-color: #2A3354;
 $white: #eee;

 @media screen and (min-width: 481px) {
	 .header {
		 position: fixed;
		 height: 80px;

		 flex-flow: row nowrap;
		 justify-content: flex-start;
		 align-items: baseline;

		 &__menu {
			 flex-flow: row nowrap;
			 justify-content: space-between;

             &-login {
                 margin-left: auto;
             }
         }

		 &__link {
			 margin: 0 8px;
		 }

	 }
 }

 @media screen and (max-width: 480px) {
	 .header {
		 flex-flow: column;
		 justify-content: center;
		 align-items: center;

		 &__menu {
			 justify-content: space-between;
			 align-items: flex-start;

			 margin-left: 0;
			 margin-top: 24px;
			 padding-left: 0;
			 list-style-type: none;
		 }
	 }
 }

 .header {
	 top: 0;
	 left: 0;
	 width: 100%;
	 display: flex;
	 padding: 8px 16px;
	 background-color: $header-background-color;
	 box-shadow: rgba(0,0,0,0.2) 2px 4px 8px;

	 &__logo {
		 height: 100%;
		 border-radius: 12px;
		 background-color: $white;
		 padding: 8px;

		 &-image {
			 max-height: 180px;
			 height: 50px;
		 }
	 }

	 &__nav {
		 margin-top: auto;
         width: 100%;
     }
	 
     &__user {
         &-indicator {
             position: relative;
             z-index: 10;
             max-height: 48px;
             direction: rtl;
             text-align: right;
             cursor: pointer;

             &-name {
                 font-size: 1rem;
             }
         }

         &-summary, &-menu {
             list-style-type: none;
         }

         &-menu {
             position: absolute;
             border-radius: 4px;
             background-color: #eee;
             box-shadow: 1px 1px 2px 2px #4444441c;
             padding: 8px;
         }

         &-profile {
             height: 48px;
             width: 48px;
             border-radius: 50%;

             &--text {
                 text-align: center;
                 background-color: #eee;
                 font-size: 1.5rem;
                 font-weight: 700;
                 line-height: 36px;
                 overflow: hidden;
                 padding: 4px;
             }
         }
     }


	 &__menu {
		 list-style: none;
		 display: flex;
		 margin-bottom: 0;
         justify-content: flex-start;
         align-items: baseline;
         width: 100%;

		 &-item {
			 font-size: 1.5rem;
			 padding: 4px 8px;
			 border-radius: 4px;

             .header__link {
                 cursor: pointer;
                 font-size: 1.5rem;
                 border: none;
                 background: none;
             }

			 &:hover {
				 background-color: rgba($accent-color, 80%);

				 .header__link {
					 color: $white;
				 }
			 }

			 &--active {
				 background-color: $white;

				 .header__link {
					 color: $accent-color;
				 }
			 }
         }

         &-login {
             margin-left: auto;
             margin-top: auto;
             padding: 0;

             &:hover {
                 background: none;
             }
         }
     }

	 &__link {
		 color: $white;
		 text-decoration: none;
	 }

     &__logout {
         background: none;
         font-size: 1rem;
         border: 1px solid;
         padding: 4px 8px;
         border-radius: 4px;
         cursor: pointer;

         &:hover {
             background-color: #cccccc4c;
         }
     }
 }
</style>
