<script setup>
import { computed } from 'vue';
import { usePage } from '@inertiajs/vue3';

const errors = computed(() => usePage().props.errors);

const hasErrors = computed(() => Object.keys(errors.value).length > 0);
</script>

<template>
    <div v-if="hasErrors">
        <div class="validation--error">Whoops! Something went wrong.</div>

        <ul class="validation-errors">
            <li v-for="(error, key) in errors" :key="key">{{ error }}</li>
        </ul>
    </div>
</template>

<style scoped lang="scss">
 .validation__error, .validation-errors {
     color: red;
 }
</style>
