<template>
    <div class="container">
        <TopNav />
        <slot />
        <MainFooter :copyrightYear="copyrightYear" />
    </div>
</template>

<style scoped>
 .container {
	 height: 100%;
	 width: 100%;
	 margin: 0 auto;

	 display: flex;
	 flex-flow: column;
 }

 @media screen and (min-width: 481px) {
     .container { margin-top: 100px; }
 }

</style>

<script setup>
 import { computed } from 'vue';
 import TopNav from '@/Components/TopNav.vue';
 import MainFooter from '@/Components/MainFooter.vue';

 const copyrightYear = computed(() => {
	 const now = new Date();
     const year = now.getFullYear()
	 return year > 2022 ? `2022 - ${year}` : `2022`;
 });
</script>
