<template>
    <InventoryLayout>
		<main class="login">
			<Head title="Log in" />

			<BreezeValidationErrors class="mb-4" />

			<div v-if="status" class="mb-4 font-medium text-sm text-green-600">
				{{ status }}
			</div>

			<h2 class="h-login">Log in</h2>
			<form @submit.prevent="submit" class="form">
				<UnixInput autofocus autocomplete="username" required type="email" :name="'email'" id="email"
						   v-model="form.email">
					Email
				</UnixInput>

				<UnixInput type="password" id="password" :name="'password'" v-model="form.password" required
						   autocomplete="current-password">
					Password
				</UnixInput>

				<label class="label-remember">
					<input type="checkbox" name="remember" :checked="form.remember" />
					Remember me
				</label>

                <p>
                    <Link :href="route('register')" class="link-register">Not yet registered?</Link> |
				    <Link v-if="canResetPassword" class="link-forgot" :href="route('password.request')">
				    Forgot your password?
                    </Link>
                </p>

                <UnixButton :type="'button'" @click="submit">
                    Log in
                </UnixButton>
			</form>

			<a :href="route('auth.google')" class="button-oauth">
				<FontAwesomeIcon :icon="['fab', 'google']" class="oauth-icon" />
				Sign in with Google
			</a>
		</main>
    </InventoryLayout>
</template>

<style scoped lang="scss">
 $button-color: #2a4954;

 .container {
	 height: 100%;
	 width: 100%;
	 margin: 0 auto;
	 display: flex;
	 flex-flow: column;
	 align-items: center;
 }

 .login {
	 margin-top: 128px;
	 max-width: 1080px;

	 display: flex;
	 flex-flow: column;
	 row-gap: 16px;

	 .h-login {
		 font-size: 1.5rem;
	 }

	 .form {
		 margin-top: 16px;

		 display: inline-flex;
		 flex-flow: column;
		 row-gap: 8px;

		 .label-remember {
			 margin: 8px 0 0 16px;
		 }

		 .link-forgot, .link-register {
			 color: #0d6efd;
			 text-decoration: none;

			 &:hover {
				 text-decoration: underline;
			 }
		 }

	 }

	 .button-oauth {
		 text-decoration: none;
		 border: 1px solid $button-color;
		 color: $button-color;
		 padding: 8px 0;
		 border-radius: 4px;

		 text-align: center;
		 font-weight: 700;

		 &:hover {
			 background-color: $button-color;
			 color: #eee;
		 }
	 }
 }
</style>

<script setup>
 import InventoryLayout from '@/Layouts/InventoryLayout.vue';
 import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
 import UnixInput from '@/Components/Input.vue';
 import UnixButton from '@/Components/Button.vue';
 import { Head, Link, useForm } from '@inertiajs/vue3';
 import { computed, onMounted } from 'vue';

 defineProps({
     canResetPassword: Boolean,
     status: String,
 });

 const form = useForm({
     email: '',
     password: '',
     remember: false
 });

 const copyrightYear = computed(() => {
	 const now = new Date();
	 return now.getFullYear() > 2022 ? `2022 - ${now.getFullYear()}` : `2022`;
 })

 async function submit() {
     form.post(route('login'), {
         onFinish: () => form.reset('password'),
     });
 };
</script>

