<template>
	<TopNav />
	<div class="container">
		<main class="register">
			<Head title="Register" />

			<BreezeValidationErrors class="mb-4" />

			<h2 class="h-register">Register</h2>
			<form @submit.prevent="submit" class="form">
				<UnixInput id="first_name" type="text" v-model="form.first_name" required autofocus
						   autocomplete="given-name" :name="'first_name'">
					First Name
				</UnixInput>
				<UnixInput id="last_name" type="text" v-model="form.last_name" autofocus autocomplete="family-name"
						   :name="'last_name'">
					Last Name
				</UnixInput>
				<UnixInput id="email" type="email" v-model="form.email" required autocomplete="username"
						   :name="'email'">
					Email
				</UnixInput>
				<UnixInput id="password" type="password" :name="'password'" v-model="form.password" required
						   autocomplete="new-password">
					Password
				</UnixInput>
				<UnixInput id="password_confirmation" type="password" :name="'password_confirmation'" required
						   v-model="form.password_confirmation" autocomplete="new-password">
					Password Confirmation
				</UnixInput>
				<Link :href="route('login')" class="registered">
				Already registered?
                </Link>
				<UnixButton :type="'submit'">
					Register
				</UnixButton>
			</form>
		</main>
		<MainFooter :copyrightYear="copyrightYear" />
	</div>
</template>

<style scoped lang="scss">
 .container {
	 height: 100%;
	 width: 100%;
	 margin: 0 auto;

	 display: flex;
	 flex-flow: column;
	 align-items: center;

	 .register {
		 margin-top: 128px;
		 max-width: 1080px;

		 display: flex;
		 flex-flow: column;
		 row-gap: 16px;
		 
		 .h-register {
			 font-size: 1.5rem;
		 }
		 
		 .form {
			 display: inline-flex;
			 flex-flow: column;
			 row-gap: 8px;

			 .registered {
				 margin: 16px 0 0 8px;
			 }
		 }
	 }
 }
</style>

<script setup>
 import UnixInput from '@/Components/Input.vue';
 import UnixButton from '@/Components/Button.vue';
 import TopNav from '@/Components/TopNav.vue';
 import MainFooter from '@/Components/MainFooter.vue';
 import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
 import { Head, Link, useForm } from '@inertiajs/vue3';
 import { computed } from 'vue';

 const form = useForm({
     first_name: '',
     last_name: '',
     email: '',
     password: '',
     password_confirmation: '',
     terms: false,
 });

 const copyrightYear = computed(() => {
	 const now = new Date();
	 return now.getFullYear() > 2022 ? `2022 - ${now.getFullYear()}` : `2022`;
 })

 function submit() {
     form.post(route('register'), {
         onFinish: () => form.reset('password', 'password_confirmation'),
     });
 };
</script>
